<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Document</title>
    <link rel="stylesheet" href="/user/css/productView.css">
    <script src="/user/js/productView.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

</head>



<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark mb-3" style="background-color: #0000004a;">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand text-warning fw-bold fs-2" href="/">Jas MArt</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/products?category=men">Men</a></li>
                    <li class="nav-item"><a class="nav-link " href="/products?category=women">Women</a></li>
                    <li class="nav-item"><a class="nav-link " href="/products?category=kids">Kids</a></li>
                </ul>
                <form class="d-flex text-center">
                    <a href="/getCart" class="btn text-light btn-sm me-3" type="submit">
                        <i class="bi-cart-fill me-2"></i><span>Cart</span>

                    </a>
                    {{!-- <a href="/Wishlist" class="btn text-light btn-sm  me-3" type="submit">
                        <i class="bi bi-bag-heart-fill me-2"></i><span>Wishlist</span> --}}
                        {{!-- <span class="badge bg-dark text-white ms-1 rounded-pill">0</span> --}}
                    </a>
                    {{#if Log}}
                    {{!-- <a href="/Profile" class="btn btn-sm text-light" type="submit">
                        <i class="bi bi-person-circle me-2"></i>{{Log.name}}</i>
                    </a> --}}
                    <div class="dropdown">
                        <button class="btn text-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="bi bi-person-circle me-2"></i> {{Log}}
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/UserProfile">Profile</a></li>
                            <li><a class="dropdown-item" href="/UserLogout">Logout</a></li>
                        </ul>
                    </div>
                    {{else}}
                    <a href="/Login" class="btn btn-sm btn-outline-warning" type="submit">
                        <i class="bi bi-door-open"></i></i>
                        Login
                    </a>{{/if}}

                </form>
            </div>
        </div>
    </nav>
    <div class="container mt-5 mb-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="images p-3">
                                <div class="text-center p-4" id="zoom-image"> <img id="main-image"
                                        src="{{order.product.image.url}}" width="250" /> </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="product p-4">
                                <div class="d-flex  justify-content-between align-items-center">
                                   <i
                                        class="fa fa-shopping-cart text-muted"></i>
                                </div>
                                <div class="mt-4 mb-3">
                                    <h5 class="text-uppercase">Product Name: <span
                                            class="text-success">{{order.product.name}}</span></h5>
                                    <span class="text-uppercase text-muted brand">{{order.product.category}} > {{order.product.subcategory}}</span> <br>
                                    <div class="price d-flex flex-row align-items-center"> <span
                                            class="act-price">Price:{{order.product.totalPrice}}</span>
                                        {{!-- <div class="ml-2"> <small class="dis-price">$59</small> <span>40%
                                                OFF</span>
                                        </div> --}}
                                    </div>
                                    <span class="text-uppercase text-muted brand">Qty: {{order.quantity}}</span> <br>
                                    <span class="text-uppercase text-muted brand">Payment Method:
                                        {{order.address.paymentMethod}}</span> <br>
                                    <span class="text-uppercase text-muted brand">Payment Status:
                                        {{order.orderStatus}}</span>


                                </div>
                                <h5>Address
                                </h5>
                                <h3 class="about text-uppercase"> {{order.address.name}}</h3>
                                <h6 class="about"> {{order.address.email}}
                                </h6>
                                <h3 class="about"> {{order.address.address}}
                                </h3>
                             <button class="btn btn-success" onclick="generateInvoicePdf()">Download Invoice</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.1/xlsx.full.min.js"></script>
    <script>
    
  let productName= '{{order.product.name}}'
  let productQuantity= '{{order.quantity}}'
  let productPrice= '{{order.product.price}}'
  let productTotal= '{{order.total}}'
  let orderId= '{{order.orderId}}'
  let userName= '{{order.address.name}}'
  let address= '{{order.address.address}}'
  let dispatch= '{{order.orderDate}}'
  let orders=[];
 {{#each products}}
 orders.push(['{{this.name}}','{{this.quantity}}','{{this.price}}',"{{this.totalPrice}}"])
 {{/each}}
 console.log(orders,'hello')
 orders.push( ["", "", "", ""],
              ["", "", "Total", productTotal],
              ["", "", "", ""])
 const { jsPDF } = window.jspdf;
function generateInvoicePdf() {
     const { jsPDF } = window.jspdf;
    const doc= new jsPDF();
    doc.text(15, 20, "JasMart Invoice");
    doc.setFontSize(12);
      doc.text(15, 30, "Invoice No : "+orderId);
      doc.text(15, 40, "Name : "+userName);
      doc.text(15, 50, "Address : "+address);
      doc.text(15, 70, "Date : "+dispatch);
      doc.autoTable({
        head: [['Product Name', 'Quantity', 'price', "total"]],
        body: orders,
        startY: 80
      })
    doc.setFontSize(14);
      doc.text(15, doc.lastAutoTable.finalY + 70,"Thank you for the purchase . Continue shopping with us...");
      doc.save('invoice.pdf');
    }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>


</body>

</html>